html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body{
    background-image: url('nationalpark.jpg');
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: cover;
    height:100%;
}

.container {
    padding: 0 !important;
    position: relative!important;
    margin: 0 !important;
    height: 200vh !important;
    max-width: 100% !important;
    background-color: rgba(0, 0, 0, 0.5) !important;
    overflow-y: auto !important;
}

.up {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.29);
}

.up h1 {
    color: white !important;
}
.about{
    display:flex;
    flex-direction: column;
    height: 25%;
    width: 100%;
    gap:100px;
    overflow-x:hidden;
    overflow-y:auto;
   
}
.aboutsection1{
    display:flex;
    height: 50%;
    width: 100%;
    padding:20px;
    gap:20px;
}
.aboutsection1 p{
    width:400px;
}
.aboutsection1 img{
    width:400px;
    height: 400px;
    
   
}
.aboutsection2{
    display:flex;
    flex-direction: row-reverse;
    height: 50%;
    width: 100%;
    padding:20px;
    gap:20px;
}
.aboutsection2 p{
    width:400px;
}
.aboutsection2 img{
    width:400px;
    height: 400px;
    
   
}
.down {
    height: 300%;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.down h1 {
    text-align: center;
    margin-bottom: 20px;
}





