html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  background-image: url('images/nationalpark.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

.navbar {
  color: white !important;
  background-color: rgba(0, 0, 0, 0.6) !important;
  backdrop-filter: blur(10px);
}

.container {
  padding: 0 !important;
  margin: 0 !important;
  position: relative !important;
  height: 92vh;
  max-width: 100% !important;
  background-color: rgba(0, 0, 0, 0.5) !important;
  overflow: hidden !important;
  overflow-y: auto !important;
  scrollbar-width: thin;
  scrollbar-color: #787777 rgba(0, 0, 0, 0.5);
}

p {
  text-align: center;
}

.up {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110%;
  background-color: rgba(0, 0, 0, 0.29);
}

.up h1 {
  color: white !important;
}

.instruments {
  text-align: center;
  font-size: 40px;
  padding: 13px;
}

.about {
  display: flex;
  flex-direction: column;
  height: 29%;
  width: 100%;
  gap: 1px;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-container>b {
  font-size: 21px;
  padding-bottom: 8px;
}

.aboutsection1,
.aboutsection2 {
  display: flex;
  align-items: center;
  height: 50%;
  width: 100%;
  padding: 20px;
  gap: 40px;
}

.aboutsection1 p,
.aboutsection2 p {
  width: 400px;
  font-size: 17px;
}

.aboutsection1 img,
.aboutsection2 img {
  width: 450px;
  height: 400px;
}

.aboutsection2 {
  flex-direction: row-reverse;
}

.down {
  height: 540%;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.down h1 {
  text-align: center;
  margin-bottom: 20px;
}

.item-list-container {
  width: 100%;
  height: 1000px;
  background-color: #f5f5f5;
  border-radius: 5px;
  display: flex;
  overflow: hidden;
  gap: 20px;
}

.search-bar-container {
  flex: 1;
  padding: 5px;
}

.item-list {
  display: flex;
  flex-direction: column;
  height: 500px;
  flex: 1;
  flex-wrap: nowrap;
  white-space: nowrap;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #8a0f0f rgba(200, 14, 14, 0.5);
  padding: 5px;
}

.item-list button {
  margin: 5px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
}

.item-list button:hover {
  background-color: #eee;
}

.OutputBox {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  color: rgb(255, 255, 255);
  height: 100%;
  flex: 2;
  border: 2px solid black;
  border-radius: 10px;
  background-color: rgb(197, 197, 197);
}

.webcamsection {
  display:flex;
  flex-direction: column;
  background-color: black;
  color:white;
  flex:1;
  gap: 10px;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 2px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
  color:Violet 

}

.item img {
  max-width: 60px;
  max-height: 60px;
}

.item:active {
  background-color: #e0e0e0;
}

.container::-webkit-scrollbar {
  width: 12px;
}

.container::-webkit-scrollbar-thumb {
  background: #313030;
  border-radius: 6px;
  border: 3px solid #f1f1f1;
}

.container::-webkit-scrollbar-thumb:hover {
  background: #252424;
}

.container::-webkit-scrollbar-track {
  background: #343333;
  border-radius: 6px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

.gauge-container {
  padding: 20px;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}

.gauge {
  height: 220px;
  width: 300px;
}

.gauge .dxg-range.dxg-background-range {
  fill: url(#gradientGauge);
}

.gauge .dxg-line {
  transform: scaleX(1.04) scaleY(1.03) translate(-4px, -4px);
}

.gauge .dxg-line path:first-child,
.gauge .dxg-line path:last-child {
  display: none;
}

.gauge .dxg-line path:nth-child(2),
.gauge .dxg-line path:nth-child(6) {
  stroke: #630f0f;
}

.gauge .dxg-line path:nth-child(3),
.gauge .dxg-line path:nth-child(5) {
  stroke: #1e1f1d;
}

.gauge .dxg-line path:nth-child(4) {
  stroke: #0a0a0a;
}

.gauge .dxg-elements text:first-child {
  transform: translate(19px, 13px);
}

.gauge .dxg-elements text:last-child {
  transform: translate(-27px, 14px);
}

.gauge .dxg-value-indicator path {
  transform: scale(1.2) translate(0, -5px);
  transform-origin: center center;
}

.gauge .dxg-value-indicator .dxg-title {
  text-transform: uppercase;
}

.gauge .dxg-value-indicator .dxg-title text:first-child {
  transform: translateY(5px);
}

.gauge .dxg-value-indicator .dxg-spindle-border:nth-child(4),
.gauge .dxg-value-indicator .dxg-spindle-hole:nth-child(5) {
  transform: translate(0, -109px);
}

.gauge .dxg-value-indicator .dxg-spindle-hole {
  fill: #141616;
}

.color-red {
  stop-color: #03044f;
}

.color-yellow {
  stop-color: #0e0795;
}

.color-green {
  stop-color: #0082fc;
}
.webcam-container{
  width:100%;
}
/* Media Queries for Smartphones */
@media (max-width: 600px) {
  .navbar {
    font-size: 14px;
  }
  .container{
    height:150vh;
  }
  .up {
    height: 100%;
  }

  .up h1 {
    font-size: 24px;
  }
 

  .instruments {
    font-size: 28px;
    padding: 8px;
  }

  .about {
    height: auto;
  }

  .aboutsection1,
  .aboutsection2 {
    flex-direction: column;
    padding: 10px;
    gap: 20px;
  }

  .aboutsection1 img,
  .aboutsection2 img {
    width: 100%;
    height: auto;
  }

  .aboutsection1 p,
  .aboutsection2 p {
    width: 100%;
    font-size: 14px;
  }

  .item-list-container {
    height: auto;
    flex-direction: column;
  }

  .OutputBox {
    flex: 1;
    width: 100%;
  }

  .choice-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .gauge-container {
    flex-direction: column;
    align-items: center;
  }

  .gauge {
    width: 100%;
    height: auto;
  }
}
